<h1>Здравствуйте, <%= @user.email %>!</h1>
  <p>
    Вы зарегистрированы на сайте flashcards.com<br>
  </p>
  <p>
    Что бы перейти на сайт, пройдите по ссылке: <%= @url %>.
  </p>
  <p>Спсибо, что пользуетесь нашим сервисом!</p>
