<h1>Здравствуйте, <%= @email %>!</h1>
  <p>
    Вы зарегистрированы на сайте flashcards.com<br>
  </p>
  <% @cards.each do |card| %>
    <%= card.original_text%><br>
  <% end %>
  <p>
    Что бы перейти на сайт, пройдите по ссылке: <%= @url %>.
  </p>
  <p>Спсибо, что пользуетесь нашим сервисом!</p>
