<h1>Здравствуйте, <%= @email %>!</h1>
  <p>
    Вы зарегистрированы на сайте flashcards.com<br>
  </p>
  <p>Сегодня будьте Вам могут достаться слова из списка ниже. Подготовтесь!</p>
  <h4>Список возможных слов к переводу:</h4>
  <% @cards.each do |card| %>
    <%= card.original_text%><br>
  <% end %>
  <p>
    Что бы перейти на сайт, пройдите по ссылке: <%= @url %>.
  </p>
  <p>Спсибо, что пользуетесь нашим сервисом!</p>
