<h3>Информация о пользователе</h3>
<%= link_to "Редактировать пользователя", edit_user_path, class: "btn btn-primary btn-xs", role: "button" %>
<table class="table-condensed">
  <tr>
  	<td>Email:</td>
  	<td><%= @user.email %></td>
  </tr>
</table>