<section>
  <p style="font-size: 22px;">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>
  <h4>Случайная карточка для проверки</h4>
  <% if @card %>
    <%= simple_form_for :home, url: { action: "check_translation" } do |f| %>
      <%= f.fields_for :cards do |card| %>
        <%= card.hidden_field :id, value: @card.id %>
        <%= card.hidden_field :original_text, value: @card.original_text %>
        <%= image_tag @card.avatar_url if @card.avatar? %>
        <label>Текст</label>
        <p><%= @card.translated_text %></p>
        <label>Перевод</label>
        <%= card.text_field :review_text %>
  	  <% end %>
      <%= f.submit "Проверить!" %>
    <% end %>
  <% else %>
    <h4>Все карточки проверены! Но если хочется, можно через свою учетную запись поправить дату просмотра карточки и она появится снова.</h4>
  <% end %>
</section>

  
