<div class="container">
	<h4>Вход для зарегистрированных пользователей</h4>
	<%= render partial: "form", locals: {user: @user} %>
	 <%= link_to 'Login with Google', auth_at_provider_path(:provider => :google) %> | 
<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
</div>
